html.dark-mode pre { line-height: 125%; }
html.dark-mode td.linenos .normal { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
html.dark-mode span.linenos { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
html.dark-mode td.linenos .special { color: #e6edf3; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
html.dark-mode span.linenos.special { color: #e6edf3; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
html.dark-mode .highlight .hll { background-color: #6e7681 }
html.dark-mode .highlight { background: #0d1117; color: #E6EDF3 }
html.dark-mode .highlight .c { color: #8B949E; font-style: italic } /* Comment */
html.dark-mode .highlight .err { color: #F85149 } /* Error */
html.dark-mode .highlight .esc { color: #E6EDF3 } /* Escape */
html.dark-mode .highlight .g { color: #E6EDF3 } /* Generic */
html.dark-mode .highlight .k { color: #FF7B72 } /* Keyword */
html.dark-mode .highlight .l { color: #A5D6FF } /* Literal */
html.dark-mode .highlight .n { color: #E6EDF3 } /* Name */
html.dark-mode .highlight .o { color: #FF7B72; font-weight: bold } /* Operator */
html.dark-mode .highlight .x { color: #E6EDF3 } /* Other */
html.dark-mode .highlight .p { color: #E6EDF3 } /* Punctuation */
html.dark-mode .highlight .ch { color: #8B949E; font-style: italic } /* Comment.Hashbang */
html.dark-mode .highlight .cm { color: #8B949E; font-style: italic } /* Comment.Multiline */
html.dark-mode .highlight .cp { color: #8B949E; font-weight: bold; font-style: italic } /* Comment.Preproc */
html.dark-mode .highlight .cpf { color: #8B949E; font-style: italic } /* Comment.PreprocFile */
html.dark-mode .highlight .c1 { color: #8B949E; font-style: italic } /* Comment.Single */
html.dark-mode .highlight .cs { color: #8B949E; font-weight: bold; font-style: italic } /* Comment.Special */
html.dark-mode .highlight .gd { color: #FFA198; background-color: #490202 } /* Generic.Deleted */
html.dark-mode .highlight .ge { color: #E6EDF3; font-style: italic } /* Generic.Emph */
html.dark-mode .highlight .ges { color: #E6EDF3; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
html.dark-mode .highlight .gr { color: #FFA198 } /* Generic.Error */
html.dark-mode .highlight .gh { color: #79C0FF; font-weight: bold } /* Generic.Heading */
html.dark-mode .highlight .gi { color: #56D364; background-color: #0F5323 } /* Generic.Inserted */
html.dark-mode .highlight .go { color: #8B949E } /* Generic.Output */
html.dark-mode .highlight .gp { color: #8B949E } /* Generic.Prompt */
html.dark-mode .highlight .gs { color: #E6EDF3; font-weight: bold } /* Generic.Strong */
html.dark-mode .highlight .gu { color: #79C0FF } /* Generic.Subheading */
html.dark-mode .highlight .gt { color: #FF7B72 } /* Generic.Traceback */
html.dark-mode .highlight .g-Underline { color: #E6EDF3; text-decoration: underline } /* Generic.Underline */
html.dark-mode .highlight .kc { color: #79C0FF } /* Keyword.Constant */
html.dark-mode .highlight .kd { color: #FF7B72 } /* Keyword.Declaration */
html.dark-mode .highlight .kn { color: #FF7B72 } /* Keyword.Namespace */
html.dark-mode .highlight .kp { color: #79C0FF } /* Keyword.Pseudo */
html.dark-mode .highlight .kr { color: #FF7B72 } /* Keyword.Reserved */
html.dark-mode .highlight .kt { color: #FF7B72 } /* Keyword.Type */
html.dark-mode .highlight .ld { color: #79C0FF } /* Literal.Date */
html.dark-mode .highlight .m { color: #A5D6FF } /* Literal.Number */
html.dark-mode .highlight .s { color: #A5D6FF } /* Literal.String */
html.dark-mode .highlight .na { color: #E6EDF3 } /* Name.Attribute */
html.dark-mode .highlight .nb { color: #E6EDF3 } /* Name.Builtin */
html.dark-mode .highlight .nc { color: #F0883E; font-weight: bold } /* Name.Class */
html.dark-mode .highlight .no { color: #79C0FF; font-weight: bold } /* Name.Constant */
html.dark-mode .highlight .nd { color: #D2A8FF; font-weight: bold } /* Name.Decorator */
html.dark-mode .highlight .ni { color: #FFA657 } /* Name.Entity */
html.dark-mode .highlight .ne { color: #F0883E; font-weight: bold } /* Name.Exception */
html.dark-mode .highlight .nf { color: #D2A8FF; font-weight: bold } /* Name.Function */
html.dark-mode .highlight .nl { color: #79C0FF; font-weight: bold } /* Name.Label */
html.dark-mode .highlight .nn { color: #FF7B72 } /* Name.Namespace */
html.dark-mode .highlight .nx { color: #E6EDF3 } /* Name.Other */
html.dark-mode .highlight .py { color: #79C0FF } /* Name.Property */
html.dark-mode .highlight .nt { color: #7EE787 } /* Name.Tag */
html.dark-mode .highlight .nv { color: #79C0FF } /* Name.Variable */
html.dark-mode .highlight .ow { color: #FF7B72; font-weight: bold } /* Operator.Word */
html.dark-mode .highlight .pm { color: #E6EDF3 } /* Punctuation.Marker */
html.dark-mode .highlight .w { color: #6E7681 } /* Text.Whitespace */
html.dark-mode .highlight .mb { color: #A5D6FF } /* Literal.Number.Bin */
html.dark-mode .highlight .mf { color: #A5D6FF } /* Literal.Number.Float */
html.dark-mode .highlight .mh { color: #A5D6FF } /* Literal.Number.Hex */
html.dark-mode .highlight .mi { color: #A5D6FF } /* Literal.Number.Integer */
html.dark-mode .highlight .mo { color: #A5D6FF } /* Literal.Number.Oct */
html.dark-mode .highlight .sa { color: #79C0FF } /* Literal.String.Affix */
html.dark-mode .highlight .sb { color: #A5D6FF } /* Literal.String.Backtick */
html.dark-mode .highlight .sc { color: #A5D6FF } /* Literal.String.Char */
html.dark-mode .highlight .dl { color: #79C0FF } /* Literal.String.Delimiter */
html.dark-mode .highlight .sd { color: #A5D6FF } /* Literal.String.Doc */
html.dark-mode .highlight .s2 { color: #A5D6FF } /* Literal.String.Double */
html.dark-mode .highlight .se { color: #79C0FF } /* Literal.String.Escape */
html.dark-mode .highlight .sh { color: #79C0FF } /* Literal.String.Heredoc */
html.dark-mode .highlight .si { color: #A5D6FF } /* Literal.String.Interpol */
html.dark-mode .highlight .sx { color: #A5D6FF } /* Literal.String.Other */
html.dark-mode .highlight .sr { color: #79C0FF } /* Literal.String.Regex */
html.dark-mode .highlight .s1 { color: #A5D6FF } /* Literal.String.Single */
html.dark-mode .highlight .ss { color: #A5D6FF } /* Literal.String.Symbol */
html.dark-mode .highlight .bp { color: #E6EDF3 } /* Name.Builtin.Pseudo */
html.dark-mode .highlight .fm { color: #D2A8FF; font-weight: bold } /* Name.Function.Magic */
html.dark-mode .highlight .vc { color: #79C0FF } /* Name.Variable.Class */
html.dark-mode .highlight .vg { color: #79C0FF } /* Name.Variable.Global */
html.dark-mode .highlight .vi { color: #79C0FF } /* Name.Variable.Instance */
html.dark-mode .highlight .vm { color: #79C0FF } /* Name.Variable.Magic */
html.dark-mode .highlight .il { color: #A5D6FF } /* Literal.Number.Integer.Long */
